In [17]:
import cv2
import os
import xml.etree.ElementTree as ET
import random
import pandas as pd
import glob

In [18]:
from tqdm import tqdm

In [19]:
root_path = 'D://vehicle data//New folder//vehicle-orientation-3'
label_path =  'D://vehicle data//New folder//part_3_labels'
# save_path = 'D://person class//Annoted_images'
dir_list = os.listdir(root_path)
files_jpg = [x.strip('.jpg') for x in dir_list if x.endswith(".jpg")]

In [ ]:
df = pd.DataFrame(columns=['Image_name','Class_name','x_min','y_min','x_max','y_max','Height','Width'])
for i in tqdm(files_jpg):
    txt_path = os.path.join(label_path,i+'.txt')
    file_path = os.path.join(root_path,i+'.jpg')
    lst = []
    with open(txt_path, "r") as text_file:
        for k,text_line in enumerate(text_file):
            img = cv2.imread(file_path)
            r,c,ch = img.shape
            shape_list = [1,c,r,c,r]
            text_contents = text_line.replace('\n','').split(' ')
            text_contents = [eval(q) for q in text_contents]
            p = []
            for i1, i2 in zip(text_contents, shape_list):
                p.append(i1*i2)
            xmin = int(p[1] - (p[3]/2))
            ymin = int(p[2] - (p[4]/2))
            xmax = int(p[1] + (p[3]/2))
            ymax = int(p[2] + (p[4]/2))
            df2 = pd.DataFrame([[i,p[0],xmin,ymin,xmax,ymax,r,c]],columns=df.columns)
            df = pd.concat([df,df2],ignore_index=True)

 12%|████████▌                                                               | 5912/50000 [2:12:07<14:56:11,  1.22s/it]

In [16]:
df

               Image_name Class_name x_min y_min x_max y_max Height Width
0    000U0DDXN1F95C62H1EJ          2   760   475  1051   624   1080  1920
1    000U0DDXN1F95C62H1EJ          1  1301   510  1405   585   1080  1920
2    000U0DDXN1F95C62H1EJ          1  1193   513  1266   552   1080  1920
3    000U0DDXN1F95C62H1EJ         13   371   516   504   570   1080  1920
4    000U0DDXN1F95C62H1EJ          1   770   473  1060   626   1080  1920
..                    ...        ...   ...   ...   ...   ...    ...   ...
640  03PQKCZJRWCVC74VRHBG          7  1599   562  1919   746   1080  1920
641  03PQKCZJRWCVC74VRHBG          1  1286   652  1466   741   1080  1920
642  03PQKCZJRWCVC74VRHBG          0   792   542  1320  1067   1080  1920
643  03SFXJRCA3936RGV403F          6   971   643  1044   717   1080  1920
644  03SFXJRCA3936RGV403F          0   975   643  1048   720   1080  1920

[645 rows x 8 columns]